In [56]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
web_data = requests.get("https://www.dataforthai.com/business/objective")
soup = BeautifulSoup(web_data.text,'html.parser')
table =  soup.find_all("tr",{"class":"clickable-row"})
columns = ['รหัส', 'ประเภทธุรกิจ', 'จำนวน', 'ประเภทธุรกิจ1']
df_loop = []
for i in table:
    tds = i.find_all('td')
    loop = [td.text.replace('\n', '').strip() for td in tds]
    df_loop.append(loop)
df1 = pd.DataFrame(df_loop,columns=columns)
df1 = df1.drop(['ประเภทธุรกิจ1'], axis=1)

       รหัส                                       ประเภทธุรกิจ จำนวน
0     01111                       การปลูกข้าวโพดที่ใช้เมล็ดแก่    14
1     01112               การปลูกธัญพืช (ยกเว้นข้าวและข้าวโพด)    37
2     01113                               การปลูกพืชตระกูลถั่ว    10
3     01114                                  การปลูกถั่วเหลือง     1
4     01115                การปลูกพืชน้ำมัน (ยกเว้นถั่วเหลือง)     6
...     ...                                                ...   ...
1227  97000  กิจกรรมการจ้างงานในครัวเรือนในฐานะที่เป็นนายจ้...    12
1228  98100  กิจกรรมการผลิตสินค้าเพื่อใช้ในครัวเรือนซึ่งไม่...     3
1229  98200  กิจกรรมการบริการในครัวเรือนซึ่งไม่สามารถจำแนกก...     1
1230  99000        กิจกรรมขององค์การระหว่างประเทศและภาคีสมาชิก     1
1231  99009  กิจกรรมขององค์การระหว่างประเทศและภาคีสมาชิกอื่...     1

[1232 rows x 3 columns]

In [ ]:
url = "https://www.dataforthai.com/business/objective/"
rows = []
col = ['index','ชื่อผู้ประกอบการ', 'ทุนจดทะเบียน', 'อำเภอ', 'จังหวัด','รหัส', 'ประเภทธุรกิจ', 'timestamp']
j=0
for param in df1['รหัส']:
    web_data = requests.get(url+param)
    soup = BeautifulSoup(web_data.text,'html.parser')
    data = soup.find_all("tr",{"class":"clickable-row"})
    for i in data:
        tds = i.find_all('td')
        row = [td.text.strip() for td in tds[0:5]] + [df1['รหัส'][j]] +[df1['ประเภทธุรกิจ'][j]]   + [datetime.now().strftime("%Y-%m-%d-%T")]
        rows.append(row)
    j=j+1
df2 = pd.DataFrame(rows,columns=col)
df3 = df2.drop(['index'],axis =1)
df3

In [ ]:
df3.to_csv('Dataset ชื่อไม่เต็ม.csv', index=False,encoding='utf-8-sig')

In [ ]:
df4 = pd.read_csv('Dataset ชื่อไม่เต็ม.csv',encoding='utf-8-sig',dtype={"รหัส": object})
df4